# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.dep

cscope*.out
*.swp

testsuite/allocator
testsuite/test_is_placeholder
testsuite/test_is_placeholder.cpp
testsuite/vector
